<link rel="stylesheet" href="/styles/error.css">
<h1>404 - Page Not Found</h1>
<p>Oops! The page you are looking for doesn't exist.</p>
{{#if admin}}
<a href="/admin/dashboard">Return to Home</a>
{{else}}
<a href="/user/home">Return to Home</a>
{{/if}}
