<div id="particles-js" class="snow"></div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<div class="container col-md-4 mt-5">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <h5>Edit Profile</h5>
            </div>
            <div class="card-body">
                <form id="edit-profile-form" method="post" action="/user/postProfile">
                    <div class="form-group">
                        <label for="edit-name">Name</label>
                        <input type="text" name="name" class="form-control" id="edit-name" value="{{user.name}}">
                    </div>
                    <div class="form-group">
                        <label for="edit-email">Email</label>
                        <input type="email" name="email" class="form-control" id="edit-email" value="{{user.email}}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="edit-phone">Phone Number</label>
                        <input type="tel" placeholder="Enter Phone Number" pattern="[0-9]{10}" maxlength="10" name="phone" class="form-control" id="edit-phone" value="{{user.phone}}">
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                    <a href="/user/profile" class="btn btn-secondary">Cancel</a>
                </form>
            </div>
        </div>
    </div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
