<link rel="stylesheet" href="/styles/verifyOtp.css">
<div id="particles-js" class="snow"></div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<div class="form-container">
    <h2>Reset Your Password</h2>
    <form action="/user/forgot-password" method="post">
        
        <label for="email">Enter your registered email:</label>
        <input type="email" id="email" name="email" required placeholder="Enter your email" />
        <button type="submit">Send Reset Link</button>
        
        
    </form>

<input type="hidden" name="" value="{{message}}" id="message">
</div>
<script>
    const message = document.getElementById('message').value;

    // Check if message exists and is not an empty string
    if (message) {
        Swal.fire({
            icon: 'info', // Customize icon as needed
            title: 'Note',
            text: message
        });
    }

</script>