<link rel="stylesheet" href="/styles/verifyOtp.css">
<div id="particles-js" class="snow"></div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<div class="form-container">
    <form action="/user/reset-password" method="post">
    <h2>Reset Password</h2>

    <input type="hidden" name="email" value="{{email}}" />

    <label for="newPassword">New Password</label>
    <input type="password" id="newPassword" name="newPassword" required placeholder="Enter new password" />

    <button type="submit">Reset Password</button>

</form>
<input type="hidden" name="" value="{{message}}" id="message">
    
</div>
<script>
    const message = document.getElementById('message').value;

    // Check if message exists and is not an empty string
    if (message) {
        Swal.fire({
            icon: 'info',                    // Customize icon as needed
            title: 'Note',
            text: message
        });
    }

</script>